/* CSS per plugin SZ-Google */
.sz-google-wrap tr {
border-top: 1px dashed #BFBFBF;
}
.sz-google input[type=checkbox]{
display:none;
vertical-align: middle;
}
.sz-google-wrap tr th {
vertical-align: middle;
font-family: 'PT Sans', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
font-size: 18px;
}
.sz-google-wrap tr td {
font-family: 'PT Sans', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
font-size: 1.2em;
vertical-align: middle!important;
}
.sz-google-wrap table {
border-bottom: 1px solid #BFBFBF;
}
.sz-google-wrap select {
height: 38px;
font-family: 'PT Sans', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
font-size: 18px;
line-height: 30px;
}
.sz-google-wrap h2 {
font-family: 'PT Sans', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
font-size: 28px;
}
.sz-google-wrap h3 {
font-family: 'PT Sans', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
font-size: 22px;
margin-top: 30px;
}
.sz-google-wrap p {
font-family: 'PT Sans', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
font-size: 14px;
}
.sz-google-gconfig {
background-image: url(images/google-conf.png);
background-repeat: no-repeat;
width:50px;
height:50px;
float: left;
}
.sz-google-header {
border-bottom: 1px solid #BFBFBF;
}
.sz-google-clear-right {
margin-right: 25px;
}
.sz-google span {
background-color:#373740;
background-image: url(images/google-unchecked.png);
background-size: 15px 13px;
background-repeat: no-repeat;
background-position: 10%;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
font-weight:700;
color:#FFF;
font-size:.85em;
letter-spacing:2px;
text-decoration:none;
font-family: 'PT Sans', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
text-align:right;
width:120px;
height:40px;
line-height:40px;
cursor:pointer;
display:block;
-webkit-transition:background-color 150ms ease-in;
-moz-transition:background-color 150ms ease-in;
-ms-transition:background-color 150ms ease-in;
-o-transition:background-color 150ms ease-in;
transition:background-color 150ms ease-in;
margin-bottom: 10px;
margin-left: 5px;
float:left;
}
.sz-google span p{
margin-right: 10px;
}
.sz-google-wrap td p {
margin-top: 0px;
}
.sz-google span:hover {
background-color:#ff5847;
}
.sz-google-wrap input[type=checkbox]:checked + span {
background-color:#ff5847;
text-decoration:none;
vertical-align: middle;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background-color:#ff5847;
background-image: url(images/google-checked.png);
background-size: 15px 13px;
background-repeat: no-repeat;
background-position: 10%;
float:left;
}

.sz-google-wrap input[type=checkbox]:checked:hover + span {
background-color:#dd5244;
color:rgba(255,255,255,0.5);
text-decoration:none;
vertical-align: middle;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
background:#dd5244;
background-image: url(images/google-remove.png);
background-size: 15px 13px;
background-repeat: no-repeat;
background-position: 10%;
}
.sz-google-wrap input[type=text]{
vertical-align: middle;
line-height: 30px;
font-size:1em;
font-family:'PT Sans', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}
.sz-google-wrap input[type=text]:focus{
border-color: #09B209;
}
.sz-google-wrap input[type=number]{
vertical-align: middle;
line-height: 30px;
font-size:1em;
font-family:'PT Sans', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}
.sz-google-wrap input[type=number]:focus{
border-color: #09B209;
}
.sz-google-wrap select:focus{
border-color: #09B209;
}
