#sz-google-admin-options {
	width:70%;
	margin-right:1em;
}
#sz-google-admin-options,
#sz-google-admin-options .postbox {
	min-width:420px;
}
#sz-google-admin-sidebar {
	width:15%;
}
#sz-google-admin-sidebar, 
#sz-google-admin-sidebar .postbox {
	min-width:230px;
}
#sz-google-icon-gplus {
	background-image:url(images/google-32x32.png);
}
#sz-google-wrap th {
	vertical-align:middle;
}
#sz-google-wrap input[type=checkbox] {
	display:none;
}
#sz-google-wrap span.checkbox {
	width:10em;
	height:30px;
	line-height:30px;
	margin:0 1em 0 0;
	padding:0 1em;
	float:left;
	color:#FFF;
	font-weight:700;
	letter-spacing:2px;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	display:block !important;
	background-color:#373740;
	border-radius:4px;
	transition:background-color 150ms ease-in;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-transition:background-color 150ms ease-in;
	-moz-transition:background-color 150ms ease-in;
	-ms-transition:background-color 150ms ease-in;
	-o-transition:background-color 150ms ease-in;
}
#sz-google-wrap span.checkbox:hover {
	background-color:#ff5847;
}
#sz-google-wrap input[type=checkbox].medium + span.checkbox {
	width:13em;
}
#sz-google-wrap input[type=checkbox]:checked + span {
	background-color:#ff5847;
	text-decoration:none;
	border-radius:4px;
	background:#ff5847 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNpi+P//PwMNsS4QbwBiLnQ5WlqqAsRP/0PARiBmoYfFkkB8+z8qWALEjLS0mB+IL/3HDibSymJQXB7/jx/UgNSCvU4lwAbEG4DYkwi1WUxUspQZiOcRaSkIWOAKMk0Sg3jaf+IBOIVjMyQWiH8DsR+RljaTYOkBWJ5GNwRk2R+ooh9A7ETA0jwSLL0ATfEYqRpkyVc0xR+A2AyHpdFA/I9IS0F5WhRbAWIEtQQbeAXE6lhC5jeRlj4GYgVsRaYK1HBCmmWgmuyxhAwu8BpaXjNgs/gYkYbcAGIXPCGDDkCOM8eVPkCEFhE+JhX8BGJnfAkTxgC57BOVLAXlihBC2RA9Vf+k0FJQKk8nJv+jCwQi5WNyQAWxpR02wRQS8icy6CKlmMUlUUGipfOQK3lKLAbhdhIKfWZS6258kiAfzCZg6V4gZiOn0UBIAcgn63BYehK50Ke2xQxQH+3FUoqJUtJMIlYhLxAfxVJu09xiWENuMxCrUaNhCBBgAOAVfjALa5TLAAAAAElFTkSuQmCC) no-repeat 7% center;
	background-size:15px 13px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
#sz-google-wrap input[type=checkbox]:checked:hover + span {
	color:rgba(255,255,255,0.5);
	text-decoration:none;
	border-radius:4px;
	background-color:#dd5244;
	background:#dd5244 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS5JREFUeNq8110OgjAMAGBGvIY3VESjt9jPg95PT+LccBIZ7dYOWJPGB+g+Ymg3hLW2QeLkcu/y2pSFdvl0eQevehjI3uXbfkMh96TShFq/xhG6J4faAtxEtSBOQTm4QWpnOBWl4CZT69fuYpiCpnBDrB1xLhrjgoFO8F1oGcFslUv4bV32zFoxmOHJta0XMn65dC0UaiddA8UGiN4axeC1cUkdmWviEls/NwL1FqjPNtNvoimPdC3yRCUTiTXbt0R/oSnw2iiK10BBvBY6w2uiE3xJr8oFtcrvxy/fVcyeVdGx98yotcOxN/znHeMUIhdMOG8c4reagssF43VEoT5O4ZJwvNUUFJtcEE5BMXyGpnanf5yDxjiI+hSJj7YunEBvhbuTCh9tD+jiR4ABAJ0SrJgNr1UAAAAAAElFTkSuQmCC) no-repeat 7% center;
	background-size:15px 15px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
#sz-google-wrap input[type=text],
#sz-google-wrap input[type=number] {
	height:30px;
	line-height:30px;
	padding:0 1em;
}
#sz-google-wrap select,
#sz-google-wrap span.fieldtext {
	height:30px;
	line-height:30px;
}
#sz-google-wrap span.fieldtext {
	margin-left:1em;
}
#sz-google-wrap select.medium,
#sz-google-wrap input[type=text].medium,
#sz-google-wrap input[type=number].medium {
	width:15em;
}
#sz-google-wrap select.large,
#sz-google-wrap input[type=text].large,
#sz-google-wrap input[type=number].large {
	width:80%;
}
